html {
    box-sizing: border-box;
}

*, ::after, ::before {
    box-sizing: inherit;
}
.body{
    font-family: 'Oswald', sans-serif;
    background-image: url("../images/background.png");
    background-position: top;
    background-size: cover;
    
}
